@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');




/* Progress bar */
.progress-bar {
    
    background-color: #f2f2f2;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  
  .progress-bar-fill {
    background-color: #4caf50;
    height: 100%;
    border-radius: 10px;
    transition: width 0.2s ease-in-out;
  }

  
/* End of Progress bar */

/* Workouts page */

.workouts {
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}

.img1 {
    width: 300;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    object-fit: cover;
    position: absolute;
    top: 10%;
    left: 10%;
}

.img2 {
    
    width: 300;
    padding: 20px;
    text-align:left;
    border-radius: 8px;
    object-fit: cover;
    position: absolute;
    top: 10%;
    right: 30%;
}

/* End of workouts page */

/* Levels page */
.category {
    font-weight: bold;
  }

  .exercise {
    margin-left: 20px;
  }

  .beginner {
    color: lightgreen;
    text-align: left;
    align-items: left;
    border: 2px solid #00ff11;
    margin-top: 10px;
    margin-left: 200px;
    padding: 10px;
    width: 20%;
    height: 300px;
  }

  .intermediate {
    color: blue;
    text-align: left;
    align-items: center;
    border: 2px solid #00ff11;
    margin-top: -300px;
    margin-left: 550px;
    padding: 10px;
    width: 20%;
    height: 300px;
  }

  .advanced {
    color: red;
    text-align: left;
    border: 2px solid #00ff11;
    margin-top: -300px;
    margin-left: 900px;
    padding: 10px;
    width: 20%;
    height: 300px;
  }



/* End of levels page */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

form{
    color: var(--textColor);
}

.Logo{
    border: 1px solid #00ff11;
    padding: 7px;
    border-radius: 10px;
}

hr{
    border-color: #00ff11;
}

.list{
    color: var(--textColor);
    list-style-type: none;
    text-align: left;
}

.form-control{
    color: var(--textColor);
    border: 1px solid #00ff11;
    width: 50%;
    background-color: var(--maincColor);

}
::placeholder{
    color: var(--textColor);
}

.button {
    background-color:  var(--maincColor);
    border: none;
    color: var(--textColor);
    padding: 10px 32px;
    text-align: center;
    border: 1px solid #00ff11;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

:root{
    --maincColor: #000000;
    --mainColorLight: #303031;
    --secondaryCOlor: #00ff11;
    --textColor: #04f814;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--maincColor);
    color: var(--textColor);
    border-bottom: 1px solid #00ff11;
}

body{
    background-color: #000000;
    color: #04f814;;
}

div{
    justify-content: space-between;
    height: 80px;
    text-align: center;
    color: var(--textColor);
}

/*drop down box styling*/
.dropDown{
    position: absolute;
    top: 5.5rem;
    right: 6.6rem;
    width: 160px;
    height: 90px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--textColor)
}

/*square rotated 45 degrees for top of drop down box*/
.dropDown::before{
    content: "";
    position: absolute;
    top: -0.7rem;
    right: 6.9rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: black;
    border-left: 1px solid var(--textColor);
    border-top: 1px solid var(--textColor)
}

a{
    color: var(--textColor);
    text-decoration: none;
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryCOlor);
}

/*styling for react icon button*/
.userIcon{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    outline: none;
    color: var(--textColor);
    font-size: 2.2rem;
    padding-left: 0%;
    border: none;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--maincColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.3rem;
    }

    
    
    


}